* {
    margin: 0;
    padding: 0;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.carousel-indicators .active {
    width: 20px;
    height: 20px;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.carousel-inner .carousel-caption p {
    letter-spacing: 2px;
}

.carousel-caption {
    padding-bottom: 50px;
}

.topNav {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.topNav .top-contact ul {
    padding-left: 0;
}

.topNav .top-contact ul li {
    display: inline-block;
    margin-top: 10px;
    padding: 0px 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
}

.topNav .top-contact ul li .ion {
    padding: 0px 10px;
    font-size: 20px;
}

.topNav .top-contact ul li a {
    color: #fff;
}

.topNav .top-contact ul li:nth-child(3) {
    float: right;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: none;
}


/*navbar---///*/

.navbar {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 1px;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    padding-bottom: 10px;
    transition: 0.3s;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand span {
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 12px;
}
.navbar-default .navbar-brand:hover {
    color: #f0ad4e;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    transition: 0.2s;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #f0ad4e;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #6b93ff;
}

.navbar-default .navbar-nav>.active>a {
    color: #fff;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar .main-nav {
    margin-top: 10px;
}


/*collapsing topbar color */

.navBg {
    background-color: #2c2823;
    transition: 0.3s;
}


/*bg change end*/

.hero-slider {
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 0;
    top: 0;
}

.carousel-inner {
    max-width: 100vw;
    height: 90vh;
}

.carousel-inner .item {
    width: 100vw;
    height: 90vh;
}

.carousel-inner .item1 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(16, 19, 21, 0.5) 36%, rgba(0, 0, 0, 0.5) 100%), url(../images/P1100737.JPG);
    background-size: cover;
    background-position: center;
    
}

.carousel-inner .item2 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(16, 19, 21, 0.5) 36%, rgba(0, 0, 0, 0.5) 100%), url(../images/P1100737.JPG);
    background-size: cover;
    background-position: center;
}

.carousel-inner .item3 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(16, 19, 21, 0.5) 36%, rgba(0, 0, 0, 0.5) 100%), url(../images/DSC_2491.JPG);
    background-size: cover;
    background-position: center;
}


.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.hero {
    height: 75vh;
    z-index: 2;
    position: relative;
}

.hero .hero-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 10px;
    line-height: 70px;
    margin-top: 200px;
    -webkit-text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.hero .hero-text h1 span {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.hero .hero-text p {
    color: #fff;
    font-family: 'Roboto';
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 100;
    font-style: italic;
}

.hero .hero-text .btn {
    margin-top: 50px;
    width: 200px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 25px;
    transition: 0.3s;
}

.hero .hero-text .btn:hover {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.glyphicon {
    font-size: 30px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}


/*section services*/

.services {
    padding: 200px 0px 0px 0px;
    font-family: 'montserrat';
    letter-spacing: 1px;
}

.services .ion {
    padding-top: 20px;
    font-size: 34px;
}

.services .column-text .icon-divider {
    left: 150px;
}

.services .column-text h5 {
    font-style: italic;
    font-size: 16px;
}

.services .column-text h2 {
    text-transform: uppercase;
}

.services .column-text p {
    margin-top: 30px;
}

.services .column-text .btn {
    margin-top: 30px;
    width: 200px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 25px;
    transition: 0.3s;
}

.services .column-text .btn:hover {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


/*skills*/

.skills {
    margin-top: 100px;
}

.skills .row {
    background-color: #F3F3EF;
}

.skills .row .col-lg-12 {
    padding: 0;
    margin: 0;
}

.skills .column-inner .wrapper {
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(16, 19, 21, 0.7) 36%, rgba(0, 0, 0, 0.7) 100%), url(../images/20160609_140438.jpg);
    background-size: cover;
    background-position: center;
}
.skills .column-inner .wrapper .onas-text {
    color:#fff;
    font-family: 'montserrat';
    text-align: center;
    line-height: 1.4;
    padding: 0px 50px;
    letter-spacing: 2px;
    font-size: 18px;
    padding-bottom: 50px;
    margin: 0;
    
}
.skills .column-inner .wrapper .onas-text span {
    color: #f0ad4e;
    font-size: 20px;
}
.skills-text {
    color: #fff;
    font-family: "montserrat";
    letter-spacing: 2px;
    font-size: 30px;
    text-align: center;
    padding: 50px;
    margin: 0;
}

.shivas {
    margin: 0;
    position: absolute;
    display:flex;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shiva {
    width: 150px;
    height: 150px;
    background: transparent;
    float: left;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    margin: 20px 50px;
}
.shiva-inner h5 {
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-family: 'montserrat';
}

.count {
    color: #fff;
    font-size: 25px;
    position: relative;
    top: 35%;
}

.icon-divider {
    width: 7px;
    height: 7px;
    border: #cdcdcd 1px solid;
    border-radius: 100%;
    position: relative;
    display: inline-block;
    margin: 24px auto 19px auto;
}

.icon-divider::before {
    content: '';
    width: 150px;
    height: 1px;
    background-color: #cdcdcd;
    /*    background: url(../img/c83adc726c62eb0fd0f04b16297c3299-tiny-edge-line-decorative-divider-by-vexels.png) no-repeat;*/
    position: absolute;
    display: block;
    top: 2px;
    left: -151px;
}

.icon-divider::after {
    content: '';
    width: 150px;
    height: 1px;
    background-color: #cdcdcd;
    position: absolute;
    display: block;
    top: 2px;
    background-position: right;
    left: 6px;
}

.skills .wrapper .column-inner {
    margin-bottom: 30px;
}

.skills .wrapper .column-inner .img-text-column .img-column {
    display: table-cell;
    vertical-align: top;
}

.skills .wrapper .column-inner .img-text-column .img-column .img-wrapper {
    font-size: 100px;
    display: inline-block;
    width: 1em;
    height: 1em;
    max-width: 100%;
    background: url(../img/alec-cutter-41112.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.skills .wrapper .column-inner .img-text-column .text-column {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    transform: translateY(-20px);
    padding-left: 30px;
}


/*testimonials*/

.testimonials {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/pexels-photo-165907.jpeg) no-repeat;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.testimonials .column-testimonials {
    margin-bottom: 50px;
    letter-spacing: 1px;
}

.testimonials .column-testimonials h5 {
    font-style: italic;
}

.testimonials .column-testimonials h2 {
    text-transform: uppercase;
    line-height: 37px;
}

.testimonials .column-testimonials p {
    font-size: 14px;
}

.testimonials .container-testimonials {
    font-family: "montserrat";
    text-align: center;
    color: #fff;
}

.testimonials .container-testimonials .column-inner {
    padding: 30px 5px;
}

.testimonials .container-testimonials .column-inner-testimonials .img-text-column .img-column {
    display: table-cell;
    vertical-align: top;
}

.testimonials .container-testimonials .column-inner-testimonials .img-text-column .img-column .img-wrapper {
    font-size: 100px;
    display: inline-block;
    width: 1em;
    height: 1em;
    max-width: 100%;
    background: url(../img/alec-cutter-41112.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.testimonials .container-testimonials .column-inner-testimonials .img-text-column .text-column {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    transform: translateY(-20px);
    padding-left: 30px;
}


/*clients*/

/*flipBox*/

.cube {
    margin: 30px auto;
    position: relative;
    width: 300px;
    height: 150px;
    font-family: 'montserrat', 'sans-serif';
    color: #fff;
    text-align: center;
}

.cube .bg1 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/grobowiec/7.jpg);
    background-size: cover;
    background-position: center;
}

.cube .bg2 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../DSC_5256.jpg);
    background-size: cover;
    background-position: center;
}

.cube .bg3 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/sakralne/szczecin2005190.jpg);
    background-size: cover;
    background-position: center;
}

.cube .bg4 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/urny/urna%2022.JPG);
    background-size: cover;
    background-position: center;
}

.cube h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 90px;
}
.cube a {
    list-style-type: none;
    color: #fff;
        
}

.cube h2 {
    font-size: 24px;
    margin: 0;
    padding: 16px 0 2px;
}

.cube .fa {
    padding-top: 30px;
    color: #f0ad4e;
}

.cube p {
    font-size: 14px;
    padding: 5px 5px;
    margin: 0;
}

.cube .btn {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 25px;
    transition: 0.3s;
}

.default-state,
.active-state {
    height: 150px;
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.4s ease;
    transform-origin: center center -70px;
    -webkit-transform-origin: center center -70px;
    width: 100%;
}

.default-state {
    background-color: #6a6a6a;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    border: 1px solid rgba(51, 51, 51, 0.5);
}

.active-state {
    background: #333;
    transform: perspective(1000px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    border: 1px solid rgba(51, 51, 51, 0.5);
}

.cube:hover .default-state {
    transform: perspective(1000px) rotateX(90deg) rotateY(0) rotateZ(0deg);
}

.cube:hover .active-state {
    z-index: 99999;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0);
}


/*section motivation text*/

.motivation {
    font-family: 'montserrat';
    padding: 60px 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/simeon-muller-3505.jpg);
    background-size: cover;
    background-position: bottom;
    color: #efefef;
    letter-spacing: 2px;
}


/*contact section*/


/*==================*/

.contact {
    padding: 30px 0px;
    background-color: #222222;
    font-family: 'montserrat';
}

.contact h6, h4 {
    color: #8b8b8b;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
}

.contact .contact-column .contact-block {
    padding: 10px 0px 70px 0px;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
}

.contact .contact-column .contact-block .contact-name {
    width: 30%;
    display: inline-block;
    float: left;
    color: #dedede;
}

.contact .contact-column .contact-block .contact-value {
    width: 70%;
    display: inline-block;
    float: left;
    color: #8b8b8b;
}

.copyright {
    padding: 20px 0px;
    background-color: #1a1a1a;
    text-align: center;
    color: #8b8b8b;
    font-family: 'montserrat';
    letter-spacing: 1px;
}


/*style formularza*/


/*==================*/

.contact-column form label {
    color: #fff;
    font-weight: 200;
    display: block;
    font-size: 16px;
}

.contact-column form input {
    color: #fff;
    background-color: rgba(111, 111, 111, 0.5);
    letter-spacing: 1px;
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(113, 113, 113, 0.53);
}

.contact-column form textarea {
    color: #fff;
    background-color: rgba(111, 111, 111, 0.5);
    border: 1px solid rgba(113, 113, 113, 0.53);
    letter-spacing: 1px;
}

.contact-column form .btn {
    background-color: #f0ad4e;
    color: #000000;
    font-weight: 600;
    margin-top: 30px;
    width: 100px;
    border-radius: 25px;
    transition: 0.2s;
}

.contact-column form .btn:hover {
    background-color: #c47e1b;
}


/*SERVICES PAGE*/


/*====================*/

.servicesPage {
    font-family: 'montserrat';
    background-color: #F3F3EF;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.servicesPage-container {
    text-align: center;
}

.servicesPage .servicesPage-container h1 {
    margin-top: 200px;
    color: #333;
    letter-spacing: 1px;
}

.servicesPage-container .icon-divider {
    border: 1px solid #333;
}

.servicesPage-container .icon-divider::before,
.servicesPage-container .icon-divider::after {
    background-color: #333;
}

.servicesPage .servicesPage-container .btn {
    border-radius: 25px;
    margin-top: 10px;
}

.nagrobki-galeria {
    width: 100%;
    height: 100vh;
}
